body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: purple;
    color: aquamarine;
}

div {
    height: 500px;
    width: 1000px;
    border: 3px solid aquamarine;
    text-align: center;
    background-color: black; 
} 
#veluru {
    text-align: center;
   
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#no {
    background-color: red;
}

#no :hover {
    background-color: red;
}
